@import "tailwindcss";
@import 'prismjs/themes/prism-tomorrow.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';
@import 'prismjs/plugins/line-highlight/prism-line-highlight.css';

#footer {
  border: 1px solid blue;  
  color: black;
  left: 0;
  right: 0;
}
